@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 green-text">Sunshine :)</h1>
    <p>Below some sunshine color animation and here a song about sunshine: <a href="https://www.youtube.com/watch?v=JSqXGW74v9g">sun</a>.</p>
</div>

<style>
    #container {
        width: 200px;
        height: 200px;
        position: relative;
        background: yellow;
    }

    #animate {
        width: 50px;
        height: 50px;
        position: absolute;
        background-color: darkorange;
    }
</style>
<body>

    <p><button onclick="myMove()">Click Me</button></p>

    <div id="container">
        <div id="animate"></div>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/JSqXGW74v9g?si=uNun3JQn7gP02K0Z" 
                  title="YouTube video player" frameborder="0" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>



</body>
    <script>
function myMove() {
  let id = null;
  const elem = document.getElementById("animate");
  let pos = 0;
  clearInterval(id);
  id = setInterval(frame, 5);
  function frame() {
    if (pos == 350) {
      clearInterval(id);
    } else {
      pos++;
      elem.style.top = pos + "px";
      elem.style.left = pos + "px";
    }
  }
}
    </script>
